#container {
  padding: 2.5rem 0;
  margin: 0 auto;
  width: 60%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 

header{
  background-color: #00406be1;
}

.d-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

span{
  text-align: center;
}

#img{
  width: 300px;
}

h1 {
  color: #ffffff;
}

#btn-search {
  width: 10vw;
  font-size: 16px;
  border-color: #efb71d3b;
  background-color: #EFB61D;
  color: #362f2f;
  border-width: 2px;
  border-radius: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 3%;
  transition: 1s;
}

#btn-search:hover{
  width: 12vw;
  font-size: 18px;
  background-color: #d6a41a;
}

#id {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  width: 15vw;
  border-color: #EFB61D;
  border-width: 1px;
  border-radius: 100px;
  font-family: Arial;
}

.d-flex-column{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  height: calc(100vh - 337px)
}

.amarelo{
  background-color: #EFB61D;
  height: 30px;
}

.azul{
  background-color: #00406be1;
  height: 50px;
}